body{
    background-color: brown;
}
.Heading{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 50px;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto ;
    border: solid 2px black;
    height: 700px;
    width: 700px;
    margin-top: 80px;
    background-color: rgb(157, 78, 247);
}
.container .display-container{
    border: solid 2px black;
    height: 100px;
    width: 650px;
    margin-bottom: 20px;
    cursor: text;
    background-color: rgb(233, 216, 20);
    
}
.container .main-container{
    border: solid 2px black;
    height: 510px;
    width: 650px;
    background-color: rgb(78, 247, 83);

}
.container .main-container .row {
    display: flex;
    font-size: 60px;
    
}
.container .main-container .row .button{
    border: solid 2px black;
    width: 132px;
    display: flex;
    justify-content: center;
    margin: 10px;
    margin-top: 17px;
    background-color: rgb(236, 59, 59);
}
.container .main-container .row .button:hover{
    cursor: pointer;
    background-color: rgb(226, 149, 149);
}
.container .main-container .row .button-eq{
    border: solid 2px black;
    width: 600px;
    display: flex;
    justify-content: center;
    margin: 10px;
    margin-top: 17px;
    background-color: rgb(19, 203, 228);
}
.container .main-container .row .button-eq:hover {
    cursor: pointer;
    background-color: rgb(134, 225, 237);
}

.container .display-container:hover{
    background-color: rgb(196, 194, 194);

}
.container .display-container:hover{
    background-color: rgb(235, 229, 156);
    
    }